#staticImages {
  display: none;
}
.sliderOuterContainer {
  display: block;
  text-align: center;
}
#Burger {
  display: none;
}
header nav {
  display: block;
}
#aboutContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
}
#aboutContainer p{
  padding-left: 1%;
}
#facilitiesContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
}
#facilitiesContainer p{
  padding-left: 1%;
}
Footer{
 display: flex; 
 flex-direction: row;
}
Footer p{
text-align:left ;
}
