header {
  background-color: #523e0d;
}
header #Logo{
  display:block
}
header #Burger{
  padding-left: 1%;
}
header nav ul {
  display: flex;
  flex-direction: column;
}

header nav ul li a {
  color: #ebe9e4;
}
header nav ul li a visited {
  color: #f2a903;
}
.sliderContainer {
  display: none;
}
footer {
  background-color: #523e0d;
  color: #ebe9e4;
}
